extends ../layout_houtai

block content
  .container
    .row
      form.form-horizontal(method="post", action="/admin/movie",enctype="multipart/form-data")
        .form-group
          label.col-sm-2.control-label API同步（失效）
          .col-sm-10
            input#douban.form-control(type="text")
        if movie._id
          input(type="hidden", name="movie[_id]", value=movie._id)
        .form-group
          label.col-sm-2.control-label(for="inputCategory") 人物分类
          .col-sm-10
            input#inputCategory.form-control(type="text", name="movie[categoryName]", value=movie.categoryName)
        .form-group
          label.col-sm-2.control-label 分类选择
          each cat in categories
            label.radio-inline
              if movie.category
                input(type="radio", name="movie[category]", value=cat._id, checked=cat._id.toString()==movie.category.toString())
              else
                input(type="radio", name="movie[category]", value=cat._id)
              | #{cat.name}
        .form-group
          label.col-sm-2.control-label(for="inputTitle") 人物名称
          .col-sm-10
            input#inputTitle.form-control(type="text", name="movie[title]", value=movie.title) 
        .form-group
          label.col-sm-2.control-label(for="inputTitle") 人物出处
          .col-sm-10
            input#inputTitle.form-control(type="text", name="movie[chuchu]", value=movie.chuchu)  
        .form-group
          label.col-sm-2.control-label(for="inputFlash") 昵称
          .col-sm-10
            input#inputFlash.form-control(type="text", name="movie[flash]", value=movie.flash)
        .form-group
          label.col-sm-2.control-label(for="inputLove") 喜欢的人
          .col-sm-10
            input#inputFlash.form-control(type="text", name="movie[love]", value=movie.love)
        .form-group
          label.col-sm-2.control-label(for="inputFriends") 朋友
          .col-sm-10
            input#inputFlash.form-control(type="text", name="movie[friends]", value=movie.friends)
        .form-group
          label.col-sm-2.control-label(for="inputDoctor") 人物定位
          .col-sm-10
            input#inputDoctor.form-control(type="text", name="movie[doctor]", value=movie.doctor)
        .form-group
          label.col-sm-2.control-label(for="inputCountry") 所属阵营
          .col-sm-10
            input#inputCountry.form-control(type="text", name="movie[country]", value=movie.country)
        .form-group
          label.col-sm-2.control-label(for="inputLanguage") 战力值
          .col-sm-10
            input#inputLanguage.form-control(type="text", name="movie[language]", value=movie.language)
        .form-group
          label.col-sm-2.control-label(for="inputPoster") 人物原图
          .col-sm-10
            input#inputPoster.form-control(type="text", name="movie[poster]", value=movie.poster)
        .form-group
          label.col-sm-2.control-label(for="uploadPoster") 人物图上传
          .col-sm-10
            input#uploadPoster(type="file", name="uploadPoster")
        .form-group
          label.col-sm-2.control-label(for="inputYear") 登场年龄
          .col-sm-10
            input#inputYear.form-control(type="text", name="movie[year]", value=movie.year)
        .form-group
          label.col-sm-2.control-label(for="inputSummary") 主题诗
          .col-sm-10
            textarea#inputSummary.form-control(type="text", name="movie[summary]")= movie.summary
        .form-group
          .col-sm-offset-2.col-sm-10
          button.btn.btn-warning(type="submit",style="margin-bottom:100px;") 录入
  script(src='/build/admin.min.js')